In [24]:
from tdd import read_plasticc_data

In [25]:
import tdd

In [26]:
tdd.__version__

'0.0.2dev3'

In [27]:
import os

##  Location of example datasets

In [28]:
example_meta = os.path.join(tdd.example_data, 'plasticc_train_meta.csv')
example_phot = os.path.join(tdd.example_data, 'plasticc_train_phot.csv')

In [29]:
# read in plasticc datasets
metadata, photometry = read_plasticc_data(example_meta, example_phot)
metdata.head()

These will have column names in the convention used in the data set. We would like to use standardized column
names. Since this is already a pandas dataframe, we can use `rename`, but need a dictionary to remap the names. This can be done in the following way:

In [39]:
def standardize(df, index_column=None):
    # standard aliases in tdd
    std_aliases =  tdd.standard_aliases()
    alias_dict = tdd.aliasDictionary(df.columns, std_aliases)
    df.rename(columns=alias_dict, inplace=True)
    #if index_column is not None:
    #    df.set_index(index_column, inplace=True)
    return None

In [40]:
standardize(metadata, index_column='tid')

In [42]:
metadata.head()

,tra,tdec,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target
tid,,,,,,,,,,,
615,349.046051,-61.943836,320.796530,-51.753706,1,0.0000,0.0000,0.0000,NaN,0.017,92
713,53.085938,-27.784405,223.525509,-54.460748,1,1.8181,1.6267,0.2552,45.4063,0.007,88
730,33.574219,-6.579593,170.455585,-61.548219,1,0.2320,0.2262,0.0157,40.2561,0.021,42
745,0.189873,-45.586655,328.254458,-68.969298,1,0.3037,0.2813,1.1523,40.7951,0.007,90
1124,352.711273,-63.823658,316.922299,-51.059403,1,0.1934,0.2415,0.0176,40.4166,0.024,90

In [43]:
standardize(photometry)

In [44]:
photometry.head()

   tid         mjd  band        flux    fluxerr  detected
0  615  59750.4229     2 -544.810303   3.622952         1
1  615  59750.4306     1 -816.434326   5.553370         1
2  615  59750.4383     3 -471.385529   3.801213         1
3  615  59750.4450     4 -388.984985  11.395031         1
4  615  59752.4070     2 -681.858887   4.041204         1