In [1]:
from tdd import read_plasticc_data

In [2]:
import tdd

In [3]:
tdd.__version__

'0.0.1'

In [4]:
import os

##  Location of example datasets

In [5]:
example_meta = os.path.join(tdd.example_data, 'plasticc_train_meta.csv')
example_phot = os.path.join(tdd.example_data, 'plasticc_train_phot.csv')

In [6]:
# read in plasticc datasets
metadata, photometry = read_plasticc_data(example_meta, example_phot)
#metadata.rename(columns=dict(decl='tdec', ra='tra', object_id='tid', target='tclass'), inplace=True)

In [7]:
metadata.head()

,object_id,ra,decl,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,target
0,615,349.046051,-61.943836,320.796530,-51.753706,1,0.0000,0.0000,0.0000,NaN,0.017,92
1,713,53.085938,-27.784405,223.525509,-54.460748,1,1.8181,1.6267,0.2552,45.4063,0.007,88
2,730,33.574219,-6.579593,170.455585,-61.548219,1,0.2320,0.2262,0.0157,40.2561,0.021,42
3,745,0.189873,-45.586655,328.254458,-68.969298,1,0.3037,0.2813,1.1523,40.7951,0.007,90
4,1124,352.711273,-63.823658,316.922299,-51.059403,1,0.1934,0.2415,0.0176,40.4166,0.024,90

In [7]:
metadata.tid = metadata.tid.astype('object')

In [8]:
metadata['tid'].values

array([615, 713, 730, 745, 1124, 1227, 1598, 1632, 1920, 1926, 2072, 2103,
       2300, 2330, 2624, 2677, 2922, 3041, 3285, 3423], dtype=object)

In [11]:
photometry.rename(columns=dict(object_id='tid', passband='band'), inplace=True)
photometry.set_index('tid')

             mjd  band         flux   flux_err  detected
tid
615   59750.4229     2  -544.810303   3.622952         1
615   59750.4306     1  -816.434326   5.553370         1
615   59750.4383     3  -471.385529   3.801213         1
615   59750.4450     4  -388.984985  11.395031         1
615   59752.4070     2  -681.858887   4.041204         1
615   59752.4147     1 -1061.457031   6.472994         1
615   59752.4224     3  -524.954590   3.552751         1
615   59752.4334     4  -393.480225   3.599346         1
615   59752.4435     5  -355.886780  10.421921         1
615   59767.2968     2  -548.013550   3.462291         1
615   59767.3045     1  -815.188599   5.293019         1
615   59767.3122     3  -475.516052   3.340643         1
615   59767.3233     4  -405.663818   3.496113         1
615   59767.3343     5  -421.199066   6.377517         1
615   59770.2179     2  -554.903198   3.927843         1
615   59770.2256     1  -820.042786   5.875329         1
615   59770.2334     3  -477.004730   3.736262         1
615   59770.2445     4  -400.270386   3.834955         1
615   59770.2557     5  -415.286896   7.435979         1
615   59779.3188     2  -630.523682   4.333287         1
615   59779.3265     1  -921.002502   6.306800         1
615   59779.3342     3  -518.533997   3.915225         1
615   59779.3452     4  -422.184509   4.089213         1
615   59779.3562     5  -422.815094   8.124096         1
615   59782.1897     2  -280.039520   2.819228         1
615   59782.1974     1  -449.095612   4.028310         1
615   59782.2051     3  -316.704865   3.491153         1
615   59782.2162     4  -332.885437   4.021619         1
615   59782.2274     5  -365.075775   8.514805         1
615   59797.2861     2   391.399231   3.098059         1
...          ...   ...          ...        ...       ...
3423  60603.0286     1     0.050396   0.669302         0
3423  60603.0363     3     0.345354   1.174766         0
3423  60603.0473     4    -3.596406   1.830595         0
3423  60603.0584     5     0.220008   4.559147         0
3423  60606.0225     2     2.281673   1.031992         0
3423  60606.0303     1    -0.858685   0.993048         0
3423  60606.0379     3     1.015877   1.663921         0
3423  60606.0490     4    -1.692697   2.560011         0
3423  60606.0601     5    -1.966300   6.352997         0
3423  60609.0247     2    -1.317419   0.748535         0
3423  60609.0323     1     0.606492   0.706849         0
3423  60609.0400     3     1.794481   1.224675         0
3423  60609.0510     4     1.213791   1.910791         0
3423  60609.0621     5     4.969064   4.772331         0
3423  60612.0266     0     0.857782   1.177236         0
3423  60613.0269     0     1.192003   1.274331         0
3423  60614.0276     0    -1.387003   1.443928         0
3423  60615.0375     0     1.967357   1.631345         0
3423  60616.0290     0    -3.009649   1.707438         0
3423  60617.0295     0    -0.036395   1.327566         0
3423  60621.1734     2     0.026119   0.927458         0
3423  60621.1810     1     0.499529   0.893713         0
3423  60621.1886     3    -1.157962   1.599954         0
3423  60621.1996     4     1.932159   2.589966         0
3423  60621.2105     5     5.589911   6.895036         0
3423  60624.1760     2     0.061618   1.679276         0
3423  60624.1836     1    -1.920414   2.296946         0
3423  60624.1913     3    -1.791649   2.194263         0
3423  60624.2022     4     1.296579   3.027133         0
3423  60624.2132     5    12.983508   7.451177         0

[6697 rows x 5 columns]

In [12]:
photometry['SNR'] = photometry.flux / photometry.flux_err

In [13]:
import numpy as np

In [14]:
summary = photometry.reset_index().groupby('tid').agg(dict(mjd=(min, max)))['mjd'].rename(columns=dict(min='mjd_min', max='mjd_max'))

In [15]:
summary['time_range'] = summary.mjd_max - summary.mjd_min

In [16]:
metadata.set_index('tid').join(summary)

,tra,tdec,gal_l,gal_b,ddf,hostgal_specz,hostgal_photoz,hostgal_photoz_err,distmod,mwebv,tclass,mjd_min,mjd_max,time_range
tid,,,,,,,,,,,,,,
615,349.046051,-61.943836,320.796530,-51.753706,1,0.0000,0.0000,0.0000,NaN,0.017,92,59750.4229,60624.2132,873.7903
713,53.085938,-27.784405,223.525509,-54.460748,1,1.8181,1.6267,0.2552,45.4063,0.007,88,59825.2600,60674.0798,848.8198
730,33.574219,-6.579593,170.455585,-61.548219,1,0.2320,0.2262,0.0157,40.2561,0.021,42,59798.3205,60652.1660,853.8455
745,0.189873,-45.586655,328.254458,-68.969298,1,0.3037,0.2813,1.1523,40.7951,0.007,90,59770.3662,60624.0722,853.7060
1124,352.711273,-63.823658,316.922299,-51.059403,1,0.1934,0.2415,0.0176,40.4166,0.024,90,59750.4229,60624.2132,873.7903
1227,35.683594,-5.379379,171.992947,-59.253501,1,0.0000,0.0000,0.0000,NaN,0.020,65,59798.3205,60652.1660,853.8455
1598,347.846710,-64.760857,318.929827,-49.143596,1,0.1352,0.1820,0.0304,39.7279,0.019,90,59750.4229,60624.2132,873.7903
1632,348.595886,-63.072620,320.023289,-50.713060,1,0.6857,0.7014,0.0100,43.1524,0.021,42,59750.4229,60624.2132,873.7903
1920,149.414062,3.433834,234.919132,42.245550,1,0.3088,0.3229,0.3360,41.1401,0.027,90,59582.3282,60436.9840,854.6558
1926,149.414062,1.940072,236.565366,41.393323,1,0.0000,0.0000,0.0000,NaN,0.018,65,59582.3282,60436.9840,854.6558
2072,0.965665,-46.375080,325.845907,-68.579427,1,0.1516,0.1900,0.0104,39.8317,0.007,90,59770.3662,60624.0722,853.7060
2103,346.500000,-62.320400,321.951129,-50.736054,1,0.1695,0.5409,0.2283,42.4667,0.020,42,59750.4229,60624.2132,873.7903
2300,359.446716,-44.201530,331.730015,-69.805709,1,0.2360,2.7474,0.5335,46.7959,0.010,42,59770.3662,60624.0722,853.7060
2330,359.805206,-46.768478,327.135979,-67.829903,1,0.4541,0.5736,0.2827,42.6207,0.011,90,59770.3662,60624.0722,853.7060
2624,346.655182,-63.260487,320.952196,-50.040935,1,0.0000,0.0000,0.0000,NaN,0.019,65,59750.4229,60624.2132,873.7903
2677,53.964844,-28.630989,225.142950,-53.813613,1,0.0000,0.0000,0.0000,NaN,0.009,16,59825.2600,60674.0798,848.8198
2922,352.398651,-62.696659,318.017427,-51.967966,1,0.1539,0.1469,0.0094,39.2171,0.020,67,59750.4229,60624.2132,873.7903
3041,346.130127,-63.072620,321.423103,-50.042305,1,0.1069,0.1274,0.0198,38.8800,0.020,67,59750.4229,60624.2132,873.7903
3285,150.820312,1.641510,237.994507,42.358984,1,0.1610,0.1818,0.0079,39.7258,0.020,42,59582.3282,60436.9840,854.6558
3423,349.615387,-63.636005,318.927246,-50.506542,1,1.9876,1.1213,0.1591,44.4078,0.018,95,59750.4229,60624.2132,873.7903